@media (min-width: 992px) {

    /* Large screens */
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar-brand img{
        height: 40px;
        width: auto;
    }

    .navbar-left {
        margin-right: auto;
    }

    .navbar-right {
        margin-left: auto;
    }

    #main-nav{
        padding: 15px 70px;
    }

    .border-lg-0{
        border: 0;
    }
}

@media only screen and (max-width: 992px){
    /* Produse Section */
    #product-slider .owl-nav{
        display: none;
    }
    /* Info Utile Page CSS */
    .page-spacing{
        padding: 0;
    }
    /* Comenzile Page CSS */
    .comez-short-item{
        margin-bottom: 20px;
    }
    /* Listing Produse */
    .lisiting-sec .item{
        display: block;
        padding: 20px 30px;
    }
    .lisiting-sec .item .img-box{
        padding: 0;
        border: 0;
        text-align: center;
    }
    .lisiting-sec .item .content-box{
        padding: 0;
    }
    .lisiting-sec .item .content-box .price{
        margin-bottom: 0;
    }
    .lisiting-sec .item .content-box .last-div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /* Shopping Cart Page */
    .cart-bottom-box .text {
        margin-bottom: 10px;
    }

    .cart-bottom-box input {
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .footer-top .center-text{
        text-align: left;
        margin-top: 10px;
    }
    .footer-bottom .copy-right-text {
        margin-bottom: 10px;
    }
    .footer-bottom .center-text{
        margin-bottom: 10px;
        text-align: right;
    }
}

@media (max-width: 768px){
    /* mega Menu */
    .mega-menu .sub-menu{
        position: absolute;
        background: #fff;
        top: 90px;
        left: 0;
        padding: 30px 85px;
        border: 0;
    }
    /* Navbar CSS */
    .navbar-brand img{
        height: 30px;
        width: auto;
    }
    .footer-top .f-logo img{
        margin-bottom: 10px;
    }
    .footer-top .center-text{
        margin-bottom: 10px;
        font-size: 14px;
    }
    .footer-bottom .copy-right-text {
        margin-bottom: 10px;
        text-align: center;
    }
    .footer-bottom .center-text{
        margin-bottom: 10px;
        text-align: center;
    }
    .footer-menu-heading{
        font-size: 14px;
    }
    .footer-main ul li{
        margin-bottom: 5px;
    }
    .footer-main ul li a{
        font-size: 12px;
    }
    /* General CSS */
    .section-heading{
        font-size: 24px;
    }
    .custom-form .form-label{
        font-size: 14px;
        margin-bottom: 0px;
    }
    .custom-form .form-check-input{
        margin-right: 0;
    }
    /* Contact section */
    .contact-form-box{
        padding: 30px 10px;
    }
    .contact-img-box img{
        border-radius: 10px;
    }
    .contact-sec{
        padding-top: 40px;
    }
    .contact-btm-link{
        font-size: 12px;
    }
    /* After Banner Section */
    .after-banner-card {
        margin-bottom: 20px;
    }
    /* Person Section */
    .person-section-box{
        flex-direction: column;
    }
    .person-img-box{
        position: relative;
        top: 120px;
        left: unset;
        transform: unset;
        width: 95%;
        text-align: center;
    }
    .person-img-box img{
        border-radius: 10px;
    }
    .perosn-content-box{
        padding-left: 30px;
        width: 100%;
        border-radius: 20px;
        padding-top: 150px;
    }
    .person-section-box .purple-btn{
        margin-top: 20px;
    }
    .person-section-box p{
        font-size: 14px;
        line-height: 1.41;
        color: var(--dark);
    }
    /* Avantaje Section */
    .avantaje-card{
        flex-direction: column;
    }
    .avantaje-card .img-box{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .avantaje-card .img-box img{
        height: 55px;
        width: 55px;
    }

    .avantaje-card .contant-box .title{
        font-size: 18px;
        margin-bottom: 0px;
        text-align: center;
    }

    .avantaje-card .contant-box .desc {
        font-size: 14px;
        text-align: center;
    }
    /* aplicati Section */
    .aplicati-heading{
        font-size: 18px;
    }
    .aplicati-item .content-box p{
        font-size: 16px;
    }
    /* servicile Section */
    .servicile-card img{
        height: auto;
    }
    .servicile-card .desc{
        font-size: 14px;
    }
    .servicile-card a{
        font-size: 14px;
    }
    /* Abordare Section */
    .abordare-sec .heading-box h2{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .abordare-sec .content-box p{
        font-size: 14px;
        text-align: center;
    }
    /* Produse Section */
    #product-slider .owl-nav{
        display: none;
    }
    /* Alte Articole Section */
    .article-card{
        margin-bottom: 20px;
    }
    .article-card .link {
        font-size: 14px;
    }
    .article-card .category,
    .article-card .date{
        font-size: 10px;
    }
    /* Articol Banner Section */
    .articol-banner-sec .heading{
        font-size: 17px;
    }
    .articol-banner-sec .desc{
        font-size: 14px;
    }
    .articol-banner-sec{
        padding: 50px 0 0 0 ;
    }
    /* regular Image Section */
    .regular-img-sec .img-box img{
        margin-bottom: 30px;
    }
    .regular-img-sec .content-box p{
        font-size: 14px;
    }
    .regular-img-sec{
        padding-bottom: 0;
    }
    /* Blog Banner */
    .Blog-banner-sec .item .content-box{
        width: 100%;
    }
    /* Info Utile Page CSS */
    .contul-menu-sec .side-menu{
        margin-bottom: 20px;
        height: auto;
    }
    .page-spacing{
        margin-bottom: 80px;
    }

    /* Product Detail Page */
    .product-detail-sec .content-box .nav-pills .nav-link{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }
    

}
@media only screen and (max-width: 576px){
    .main-banner-sec{
        padding-bottom: 50px;
    }
    .cart-top-box{
        padding-right: 21px;
    }
}


@media only screen and (max-height: 700px){
    #cartModal {
        top: 70px;
        background-color: #fbfbfb;
        border: none;
        max-height: 100%;
    }
}